h1 {
  text-align: center;
}
#skip {
  text-decoration: none;
  color: black;
  position: fixed;
  top: 20px;
  right: 20px;
}
#skip:hover {
  color: rgba(0, 0, 0, 0.395);
}
div {
  margin: auto;
  width: 80%;
  padding: 0;
  margin: 0;
}
