.fill {
  padding: 60px;
  text-align: center;
}
#edu {
  border: 1px solid black;
  width: 250px;
  padding: 10px;
}
.btn {
  width: 45%;
  margin: auto;
  text-align: left;
}
#age {
  border: 1px solid black;
  padding: 10px !important;
  margin: 0;
  width: 230px;
}
.fill #btn {
  position: relative;
  left: -1%;
}
.fill #skip {
  text-decoration: none;
  color: black;
  position: fixed;
  top: 80px;
  right: 20px;
}
#skip :hover {
  color: rgba(0, 0, 0, 0.395);
}
