.game {
  margin: 0;
  padding: 60px;
}
.game .flex {
  display: flex;
  justify-content: space-around;
}
.game #btn {
  margin: 30px;
}

.game #skip {
  text-decoration: none;
  color: black;
  position: fixed;
  top: 80px;
  right: 20px;
}
#skip:hover {
  color: rgba(0, 0, 0, 0.395);
}

#img {
  background-image: url(./MentalHealth.jpg);
  width: 1150px;
  height: 450px;
  padding-bottom: 20px;
  text-align: center;
}
#play-btn {
  width: 70px;
  position: relative;
  top: 47%;
  padding: 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  cursor: wait;
}
