.login {
  width: 100%;
  margin: 0;
  padding: 80px;
  text-align: center;
}
h1 {
  font-weight: bold;
  color: black;
}
input {
  margin: 10px;
  padding: 12px;
}
#btn {
  background-color: #d5dff6;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  width: 25%;
  padding: 12px;
  margin: 10px;
}
#cross {
  position: fixed;
  top: 50px;
  right: 20px;
  font-size: 60px;
  transform: rotate(45deg);
  font-weight: bold;
  text-decoration: none;
  color: black;
}
#cross:hover {
  color: rgba(0, 0, 0, 0.395);
}
#btn:hover {
  background-color: #d5dff6c1;
  cursor: pointer;
}
