.register {
  padding: 70px;
  margin: 0;
  text-align: center;
}
h1 {
  font-weight: bold;
  color: black;
}
input {
  margin: 10px;
  padding: 12px;
}

#name {
  border-bottom: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 40%;
}
#nickname {
  border-bottom: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 40%;
}
#email {
  border-bottom: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 40%;
}
#password {
  border-bottom: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 40%;
}
#btn {
  background-color: #d5dff6;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  width: 40%;
  padding: 12px;
  margin: 10px;
}
#cross {
  position: fixed;
  top: 50px;
  right: 20px;
  font-size: 60px;
  transform: rotate(45deg);
  font-weight: bold;
  text-decoration: none;
  color: black;
}
#cross:hover {
  color: rgba(0, 0, 0, 0.395);
}
#btn:hover {
  background-color: #d5dff6c1;
  cursor: pointer;
}
