.nav {
  width: 99%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: black;
  position: fixed;
  border-bottom: 1px solid black;
}
.nav h1 {
  font-size: 20px;
}
#link {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
#link:hover {
  color: rgba(0, 0, 0, 0.395);
}
